<div class="container-fluid">
    <div class="overflow-hidden">
        <div class="recommended-block section-padding-top">
            <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
                <h4 class="main-title text-capitalize mb-0">Recommended</h4>
            </div>
            <div class="card-style-slider">
                <div class="position-relative swiper swiper-card" data-slide="6 " data-laptop="6" data-tab="3"
                     data-mobile="2"
                     data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true"
                     data-pagination="true">
                    <ul class="p-0 swiper-wrapper m-0  list-inline">
                        {% for video in recommended %}
                            <li class="swiper-slide">
                                <div class="iq-card card-hover">
                                    <div class="block-images position-relative w-100">
                                        <div class="img-box w-100">
                                            <a href="{{ video.video_url }}"
                                               class="position-relative top-0 bottom-0 start-0 end-0">
                                                <img src="{{ video.thumbnail_large }}" alt="movie-card"
                                                     class="img-fluid object-cover w-100 d-block border-0 rounded-3"
                                                     loading="lazy">
                                                <span class="thumbnail-title thumbnail-title-bottom">{{ video.main_title|safe }}</span>
                                            </a>
                                        </div>
                                        <div class="card-description with-transition">
                                            <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                                <li class="fw-semi-bold">
                                                    {% for category in video.categories_array %}
                                                        <a href="{% url 'media.categories_search' slug=category.slug %}"
                                                           tabindex="0"
                                                           class="font-size-14 ">{{ category.title }}</a> |
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            <div class="cart-content">
                                                <div class="content-left">
                                                    <h5 class="iq-title text-capitalize">
                                                        <a href="{{ video.video_url }}">{{ video.main_title|safe }}</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                                <div class="iq-play-button iq-button">
                                                    <a href="{{ video.video_url }}"
                                                       class="btn btn-primary w-100">Play Now
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="position-absolute z-1 primium-product d-flex align-items-center justify-content-center"
                                             data-bs-toggle="tooltip" data-bs-placement="top"
                                             data-bs-original-title="Premium">
                                            <i class="ph-fill ph-crown "></i>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="swiper-button swiper-button-next d-none d-lg-block"></div>
                    <div class="swiper-button swiper-button-prev d-none d-lg-block"></div>
                </div>
            </div>
        </div>

        <div class="favourite-person-block">
            <div class="overflow-hidden">
                <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
                    <h4 class="main-title text-capitalize mb-0">More to watch</h4>
                </div>
                <div class="position-relative swiper swiper-card" data-slide="11" data-laptop="11" data-tab="4"
                     data-mobile="2"
                     data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true"
                     data-pagination="true">
                    <ul class="p-0 swiper-wrapper m-0  list-inline personality-card">
                        {% for video in more_to_watch %}
                            <li class="swiper-slide">
                                <a href="{{ video.video_url }}">
                                    <img src="{{ video.thumbnail_large }}" alt="personality"
                                         class="img-fluid object-cover mb-3 rounded-3 personality-img"
                                         loading="lazy">
                                </a>
                                <div class="text-center">
                                    <h6 class="mb-0">
                                        <a href="{{ video.video_url }}"
                                           class="font-size-14 text-decoration-none cast-title text-capitalize">{{ video.main_title|safe }}</a>
                                    </h6>
                                    <a href="{{ video.video_url }}"
                                       class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">{{ video.duration_formatted }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="swiper-button swiper-button-next d-none d-lg-block"></div>
                    <div class="swiper-button swiper-button-prev d-none d-lg-block"></div>
                </div>
            </div>
        </div>

        <div class="favourite-person-block">
            <div class="overflow-hidden">
                <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
                    <h4 class="main-title text-capitalize mb-0">You will enjoy this</h4>
                </div>
                <div class="position-relative swiper swiper-card" data-slide="11" data-laptop="11" data-tab="4"
                     data-mobile="2"
                     data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true"
                     data-pagination="true">
                    <ul class="p-0 swiper-wrapper m-0  list-inline personality-card">
                        {% for video in enjoy_this %}
                            <li class="swiper-slide">
                                <a href="{{ video.video_url }}">
                                    <img src="{{ video.thumbnail_large }}" alt="personality"
                                         class="img-fluid object-cover mb-3 rounded-3 personality-img"
                                         loading="lazy">
                                </a>
                                <div class="text-center">
                                    <h6 class="mb-0">
                                        <a href="{{ video.video_url }}"
                                           class="font-size-14 text-decoration-none cast-title text-capitalize">{{ video.main_title|safe }}</a>
                                    </h6>
                                    <a href="{{ video.video_url }}"
                                       class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">{{ video.pub_date_formatted }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="swiper-button swiper-button-next d-none d-lg-block"></div>
                    <div class="swiper-button swiper-button-prev d-none d-lg-block"></div>
                </div>
            </div>
        </div>

        <div class="related-movie-block">
            <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
                <h4 class="main-title text-capitalize mb-0">New</h4>
            </div>
            <div class="card-style-slider">
                <div class="position-relative swiper swiper-card" data-slide="6" data-laptop="6" data-tab="3"
                     data-mobile="2"
                     data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true"
                     data-pagination="true">
                    <ul class="p-0 swiper-wrapper m-0  list-inline">
                        {% for video in new %}
                            <li class="swiper-slide">
                                <div class="iq-card card-hover">
                                    <div class="block-images position-relative w-100">
                                        <div class="img-box w-100">
                                            <a href="{{ video.video_url }}"
                                               class="position-relative top-0 bottom-0 start-0 end-0">
                                                <img src="{{ video.thumbnail_large }}" alt="movie-card"
                                                     class="img-fluid object-cover w-100 d-block border-0 rounded-3"
                                                     loading="lazy">
                                                <span class="thumbnail-title thumbnail-title-bottom">{{ video.main_title|safe }}</span>
                                            </a>
                                        </div>
                                        <div class="card-description with-transition">
                                            <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                                <li class="fw-semi-bold">
                                                    {% for category in video.categories_array %}
                                                        <a href="{% url 'media.categories_search' slug=category.slug %}"
                                                           tabindex="0"
                                                           class="font-size-14 ">{{ category.title }}</a> |
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            <div class="cart-content">
                                                <div class="content-left">
                                                    <h5 class="iq-title text-capitalize">
                                                        <a href="{{ video.video_url }}">{{ video.main_title|safe }}</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                                <div class="iq-play-button iq-button">
                                                    <a href="{{ video.video_url }}"
                                                       class="btn btn-primary w-100">Play Now
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="position-absolute z-1 primium-product d-flex align-items-center justify-content-center"
                                             data-bs-toggle="tooltip" data-bs-placement="top"
                                             data-bs-original-title="Premium">
                                            <i class="ph-fill ph-crown "></i>
                                        </div>
                                    </div>

                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                    <div class="swiper-button swiper-button-next d-none d-lg-block"></div>
                    <div class="swiper-button swiper-button-prev d-none d-lg-block"></div>
                </div>
            </div>
        </div>

        <!-- Upcoming Start -->
        <div class="upcomimg-block">
            <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
                <h4 class="main-title text-capitalize mb-0">Upcoming</h4>
            </div>
            <div class="card-style-slider">
                <div class="position-relative swiper swiper-card" data-slide="6" data-laptop="6" data-tab="3"
                     data-mobile="2"
                     data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true"
                     data-pagination="true">
                    <ul class="p-0 swiper-wrapper m-0  list-inline">
                        {% for video in upcoming_movies %}
                            <li class="swiper-slide">
                                <div class="iq-card card-hover">
                                    <div class="block-images position-relative w-100">
                                        <div class="img-box w-100">
                                            <a href="{{ video.video_url }}"
                                               class="position-relative top-0 bottom-0 start-0 end-0">
                                                <img src="{{ video.thumbnail_large }}"
                                                     alt="movie-card"
                                                     class="img-fluid object-cover w-100 d-block border-0 rounded-3"
                                                     loading="lazy">
                                                <span class="thumbnail-title thumbnail-title-bottom">{{ video.main_title|safe }}</span>
                                            </a>
                                        </div>
                                        <div class="card-description with-transition">
                                            <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                                <li class="fw-semi-bold">
                                                    {% for category in video.categories_array %}
                                                        <a href="{% url 'media.categories_search' slug=category.slug %}"
                                                           tabindex="0"
                                                           class="font-size-14 ">{{ category.title }}</a> |
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            <div class="cart-content">
                                                <div class="content-left">
                                                    <h5 class="iq-title text-capitalize">
                                                        <a href="{{ video.video_url }}">{{ video.main_title|safe }}</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                                <div class="iq-play-button iq-button">
                                                    <a href="{{ video.video_url }}"
                                                       class="btn btn-primary w-100">Play Now
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="swiper-button swiper-button-next"></div>
                    <div class="swiper-button swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- Upcoming End -->

        {% comment %}
    {% include "single_video/components/review.html" %}
    {% endcomment %}
    </div>
</div>
