<div class="section-padding-bottom">
    <div class="rate-review-details">
        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
            <h5 class="main-title text-capitalize m-0 fw-medium">Review</h5>
            <div class="d-flex align-items-center gap-3">
                <a id="openReviewButton" class="btn btn-link p-0 custom-fs-14 openReviewButton"
                   data-bs-toggle="offcanvas"
                   href="#offcanvasReview" role="button" aria-controls="offcanvasReview">
                    Add Review </a>
                <a class="btn btn-link p-0 custom-fs-14" href="./view-more.html">View More</a>
            </div>
        </div>
        <div class="comments-section">
            <div class="review-card">
                <div class="review-detail rounded-3">
                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                        <div class="d-flex align-items-center justify-content-center gap-3">
                            <!-- Display user avatar -->
                            <img src=".//assets/images/user/user.jpg" class="img-fluid user-img rounded-circle"
                                 alt="admin" loading="lazy">

                            <div>
                                <!-- Display comment author's name and date -->
                                <h6 class="line-count-1 m-0">Marvin McKinney</h6>
                                <p class="mb-0 mt-1 small-date-font">2025-02-04 05:14:19</p>
                            </div>
                        </div>

                        <!-- Display star rating -->
                        <div class="star-rating" data-rating="5">
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                        </div>
                    </div>

                    <!-- Display comment content -->
                    <p class="mb-0 mt-3 pt-3 border-top fw-medium">A spectacular visual treat with a heartfelt
                        story at its
                        core.</p>

                    <!-- actions  -->
                </div>
            </div>
            <div class="review-card">
                <div class="review-detail rounded-3">
                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                        <div class="d-flex align-items-center justify-content-center gap-3">
                            <!-- Display user avatar -->
                            <img src="./assets/images/user/user2.jpg" class="img-fluid user-img rounded-circle"
                                 alt="admin" loading="lazy">

                            <div>
                                <!-- Display comment author's name and date -->
                                <h6 class="line-count-1 m-0">freya</h6>
                                <p class="mb-0 mt-1 small-date-font">2025-01-17 06:51:59</p>
                            </div>
                        </div>

                        <!-- Display star rating -->
                        <div class="star-rating" data-rating="5">
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                        </div>
                    </div>

                    <!-- Display comment content -->
                    <p class="mb-0 mt-3 pt-3 border-top fw-medium">Cinematography was stunning!</p>

                    <!-- actions  -->
                </div>
            </div>
            <div class="review-card">
                <div class="review-detail rounded-3">
                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                        <div class="d-flex align-items-center justify-content-center gap-3">
                            <!-- Display user avatar -->
                            <img src="./assets/images/user/robert.jpg" class="img-fluid user-img rounded-circle"
                                 alt="admin" loading="lazy">

                            <div>
                                <!-- Display comment author's name and date -->
                                <h6 class="line-count-1 m-0">robert</h6>
                                <p class="mb-0 mt-1 small-date-font">2025-02-04 05:14:19</p>
                            </div>
                        </div>

                        <!-- Display star rating -->
                        <div class="star-rating" data-rating="5">
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                            <i class="ph-fill ph-star text-warning" aria-hidden="true"></i>
                        </div>
                    </div>

                    <!-- Display comment content -->
                    <p class="mb-0 mt-3 pt-3 border-top fw-medium">Loved every second of it!</p>

                    <!-- actions  -->
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas overflow-y-auto widget-shopping-cart-content offcanvas-end offcanvas-sidebar sidebar-container on-rtl end border-left-0"
         tabindex="-1" id="offcanvasReview" aria-modal="true" role="dialog">
        <div class="offcanvas-header position-relative border-bottom">
            <h5 class="offcanvas-title fw-500" id="offcanvasReviewLabel">
                Add Review </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form>
                <!-- Add Nonce for security -->
                <input type="hidden" id="st_ajax_nonce" name="st_ajax_nonce" value="a19cf1e628"><input
                    type="hidden"
                    name="_wp_http_referer" value="/product/wp/streamit/tvshows/vikings/"> <input id="cm_id"
                                                                                                  type="hidden"
                                                                                                  name="comment_id"
                                                                                                  value="">

                <!-- Hidden fields for post type and post ID -->
                <input id="cm_post_type" type="hidden" name="post_type" value="tvshow">
                <input id="cm_post_id" type="hidden" name="post_id" value="1">

                <!-- User ID for logged-in users -->
                <input id="cm_user_id" type="hidden" name="user_id" value="12">

                <!-- Display logged-in user's name -->
                <div class="form-group">
                    <input id="cm_name" name="cm_name" type="hidden" value="Marvin McKinney">
                    <input id="cm_email" name="cm_email" type="hidden" value="marvin@demo.com">
                    <p class="mt-0 text-heading">Logged in as: Marvin McKinney</p>
                </div>

                <!-- Rating section -->
                <div class="form-group mb-4">
                    <label class="form-label mb-3">Your Rating</label>
                    <div class="star-rating" id="starRating">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5" title="5 stars"><i class="ph-fill ph-star"
                                                              aria-hidden="true"></i></label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4" title="4 stars"><i class="ph-fill ph-star"
                                                              aria-hidden="true"></i></label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3" title="3 stars"><i class="ph-fill ph-star"
                                                              aria-hidden="true"></i></label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2" title="2 stars"><i class="ph-fill ph-star"
                                                              aria-hidden="true"></i></label>
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1" title="1 star"><i class="ph-fill ph-star"
                                                             aria-hidden="true"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label flex-grow-1" for="Description">
                        Your Review
                    </label>
                    <textarea id="Description" class="form-control review-text-area" rows="8"
                              cols="45"></textarea>
                </div>

                <!-- Submit button -->
                <div class="iq-button">
                    <a href="javascript:void()" class="btn btn-primary text-capitalize">
                        <span class="button-text">Submit Review</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
