{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ TEMPLATE_APP_NAME }} | {% block title %}{% endblock %}</title>
    <!-- Google Font Api KEY-->
    <meta name="google_font_api" content="AIzaSyBG58yNdAjc20_8jAvLNSVi9E4Xhwjau_k">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}"/>

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="{% static 'assets/css/core/libs.min.css' %}"/>

    <!-- font-awesome css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}"/>

    <!-- Iconly css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/iconly/css/style.css' %}"/>

    <!-- Animate css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/animate.min.css' %}"/>

    <!-- SwiperSlider css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/swiperSlider/swiper.min.css' %}">


    <!-- Sweetlaert2 css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/sweetalert2/sweetalert2.min.css' %}"/>


    <!-- Streamit Design System Css -->
    <link rel="stylesheet" href="{% static 'assets/css/streamit.min.css?v=5.4.0' %}"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.min.css?v=5.4.0' %}"/>

    <!-- Rtl Css -->
    <link rel="stylesheet" href="{% static 'assets/css/rtl.min.css?v=5.4.0' %}"/>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap"
          rel="stylesheet">


    <!-- Phosphor icons  -->
    <link rel="stylesheet" href="{% static 'assets/vendor/phosphor-icons/Fonts/regular/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/phosphor-icons/Fonts/duotone/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor/phosphor-icons/Fonts/fill/style.css' %}">


    <link rel="stylesheet" href="{% static 'assets/vendor/streamit-font/iconly.css' %}">
</head>

<body class="  ">
<span class="screen-darken"></span>
<!-- loader Start -->
<!-- loader Start -->
<div class="loader simple-loader">
    <div class="loader-body">
        <img src="{% static 'assets/images/loader.gif' %}" alt="loader" class="img-fluid " width="300">
    </div>
</div>
<!-- loader END -->  <!-- loader END -->
<main class="main-content">
    {% include "core/components/navigation.html" %}

    <!--bread-crumb-->
    <!--bread-crumb-->
    {% block content %} {% endblock content %}

    {% include "core/components/mobile_menu.html" %}
</main>

{% include "core/components/footer.html" %}
{% include "core/components/settings.html" %}


<div id="back-to-top" class="back-to-top" style="display: none;">
    <a class="p-0 btn bg-primary btn-sm position-fixed top border-0 rounded-circle text-white" id="top" href="#top">
        <i class="ph ph-caret-up fw-bold"></i>
    </a>
</div>
<!-- Wrapper End-->
<!-- Library Bundle Script -->
<script src="{% static 'assets/js/core/libs.min.js' %}"></script>
<!-- Plugin Scripts -->

<!-- Sweet-alert Script -->
<script src="{% static 'assets/vendor/sweetalert2/sweetalert2.min.js' %}" async></script>
<script src="{% static 'assets/js/plugins/sweet-alert.js' %}" defer></script>

<!-- SwiperSlider Script -->
<script src="{% static 'assets/vendor/swiperSlider/swiper.min.js' %}"></script>


<!-- Lodash Utility -->
<script src="{% static 'assets/vendor/lodash/lodash.min.js' %}"></script>
<!-- External Library Bundle Script -->
<script src="{% static 'assets/js/core/external.min.js' %}"></script>
<!-- countdown Script -->
<script src="{% static 'assets/js/plugins/countdown.js' %}"></script>
<!-- utility Script -->
<script src="{% static 'assets/js/utility.js' %}"></script>
<!-- Setting Script -->
<script src="{% static 'assets/js/setting.js' %}"></script>
<script src="{% static 'assets/js/setting-init.js' %}" defer></script>
<!-- Streamit Script -->
<script src="{% static 'assets/js/streamit.js' %}" defer></script>
<script src="{% static 'assets/js/swiper.js' %}" defer></script>

<script src="{% static 'js/core/core.js' %}"></script>

{% block javascript_include %}
{% endblock javascript_include %}

{% include "core/components/javascript.html" %}
{% include "core/components/cookie_consent.html" %}
</body>

</html>