{% load static %}
<div class="verticle-slider section-padding-bottom">
    <div class="slider">
        <div class="slider-flex position-relative">
            <div class="slider--col position-relative">
                <div class="vertical-slider-prev swiper-button"><i class="iconly-Arrow-Up-2 icli"></i></div>
                <div class="slider-thumbs" data-swiper="slider-thumbs">
                    <div class="swiper-container " data-swiper="slider-thumbs-inner">
                        <div class="swiper-wrapper top-ten-slider-nav">
                            {% for video in slider_videos %}
                                <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative ">
                                        <div class="img-box slider--image">
                                            <img src="{{ video.thumbnail_large }}"
                                                 class="w-100 rounded-3" alt="{{ video.main_title }}"
                                                 loading="lazy">
                                        </div>
                                        <div class="block-description">
                                            <h6 class="iq-title">{{ video.main_title|safe }}</h6>
                                            <div class="movie-time d-flex align-items-center my-2">
                                                <div class="d-flex align-items-center gap-1 font-size-12">
                                                    <i class="ph ph-clock "></i>
                                                    <span class="text-body">{{ video.duration_formatted }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="vertical-slider-next swiper-button"><i class="iconly-Arrow-Down-2 icli"></i></div>
            </div>
            <div class="slider-images" data-swiper="slider-images">
                <div class="swiper-container " data-swiper="slider-images-inner">
                    <div class="swiper-wrapper ">
                        {% for video in slider_videos %}
                            <div class="swiper-slide">
                                <div class="slider--image block-images"><img
                                        src="{{ video.thumbnail_large }}"
                                        loading="lazy" alt="{{ video.main_title }}"/></div>
                                <div class="description">
                                    <div class="block-description">
                                        {% comment %}
                                    <ul
                                            class="ps-0 mb-2 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag justify-content-center justify-content-lg-start genres-list gap-1 gap-sm-0">
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie" class="text-decoration-none">Action</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie"
                                               class="text-decoration-none">Adventure </a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie" class="text-decoration-none">Crime</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie" class="text-decoration-none">Horror</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie" class="text-decoration-none">Mystery</a>
                                        </li>
                                    </ul>
                                    {% endcomment %}
                                        <h3 class="iq-title m-0 line-count-3"><a
                                                href="{{ video.video_url }}">{{ video.main_title|safe }}</a>
                                        </h3>
                                        <div
                                                class="d-flex align-items-center gap-3 py-2 justify-content-center justify-content-lg-start flex-wrap">
                                            <div class="slider-ratting d-flex align-items-center gap-1">
                                                <ul
                                                        class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                                    {% for i in "12345" %}
                                                        {% if forloop.counter <= video.rating %}
                                                            <li><i class="ph-fill ph-star" aria-hidden="true"></i></li>
                                                        {% else %}
                                                            <li><i class="ph ph-star" aria-hidden="true"></i></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="d-flex align-items-center gap-1">
                                                <i class="ph ph-clock font-size-14"></i>
                                                <span class="text-body">{{ video.duration_formatted }}</span>
                                            </div>
                                        </div>
                                        <p class="mt-2 mb-3 line-count-3">{{ video.main_description }}</p>
                                        <a href="{{ video.video_url }}"
                                           class="btn btn-primary text-capitalize position-relative rounded-3">
                                           <span class="d-flex align-items-center gap-2">
                                               <span class="button-text">play now</span>
                                               <i class="ph-fill ph-play fs-6"></i>
                                           </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-block d-lg-none">
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
