<form id="magicForm" class="position-relative my-4">
    {% csrf_token %}
    <div class="magic-input-wrapper position-relative">
        <input
                type="text"
                class="form-control magic-input"
                id="promptInput"
                autocomplete="off"
                placeholder="Describe your favorite porn"
        >
        <input type="hidden" id="selectedTagIdsInput" name="selected_tag_ids" value="">
        <div id="magicTagSuggestions" class="magic-tag-suggestions d-none" role="listbox"></div>

        <button type="submit" class="magic-submit-btn">
            <i class="fa-regular fa-circle-right"></i>
        </button>
    </div>
</form>
