{% load static %}
<div class="container-fluid">
    <div class="overflow-hidden">
        <div class="favourite-person-block section-wraper">
            <div class="d-flex align-items-center justify-content-between  px-1 mb-2 pb-1 mb-md-4 pb-md-0">
                <h4 class="main-title text-capitalize mb-0 fw-medium">your favourite personality</h4>
                <a href="./all-personality.html" class="text-primary iq-view-all text-decoration-none">View All</a>
            </div>
            <div class="position-relative swiper swiper-card" data-slide="11" data-laptop="11" data-tab="4"
                 data-mobile="2"
                 data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true"
                 data-pagination="true">
                <ul class="p-0 swiper-wrapper m-0  list-inline personality-card">
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/olivia-foster.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Olivia
                                    Foster</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actress&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/leena-burton.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Leena
                                    Burton</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actress&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/ryan-pierce.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Ryan
                                    Pierce</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actor&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/michael-fox.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Michael
                                    Fox</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">producer&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/ruby-scott.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Ruby
                                    Scott</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">director&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/maxwell-carter.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Maxwell
                                    Carter</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actor&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/mark-smith.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Mark
                                    Smith</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">producer&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/ava-monroe.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Ava
                                    Monroe</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actress&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/jack-nicholson.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Jack
                                    Nicholson</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actor&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/charles-melton.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Charles
                                    Melton</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actor&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/jeff-bridges.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Jeff
                                    Bridges</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actor&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/james-stewart.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">James
                                    Stewart</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actor&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="person-detail.html">
                            <img src="{% static 'assets/images/cast/jordan-grant.webp' %}" alt="personality"
                                 class="img-fluid object-cover mb-3 rounded-3 personality-img">
                        </a>
                        <div class="text-center">
                            <h6 class="mb-0">
                                <a href="person-detail.html"
                                   class="font-size-14 text-decoration-none cast-title text-capitalize">Jordan
                                    Grant</a>
                            </h6>
                            <a href="person-detail.html"
                               class="font-size-12 fw-semibold text-decoration-none text-capitalize text-body">actor&nbsp;&nbsp;</a>
                        </div>
                    </li>
                </ul>
                <div class="d-none d-lg-block">
                    <div class="swiper-button swiper-button-next"></div>
                    <div class="swiper-button swiper-button-prev"></div>
                </div>
            </div>
        </div>

        <div class="popular-movies-block section-wraper">
            <div class="d-flex align-items-center justify-content-between  px-1 mb-2 pb-1 mb-md-4 pb-md-0">
                <h4 class="main-title text-capitalize mb-0 fw-medium">popular movies</h4>
                <a href="./view-all-movie.html" class="text-primary iq-view-all text-decoration-none flex-none">View
                    All</a>
            </div>
            <div class="card-style-slider">
                <div class="position-relative swiper swiper-card" data-slide="6" data-laptop="6" data-tab="3"
                     data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true"
                     data-navigation="true"
                     data-pagination="true">
                    <ul class="p-0 swiper-wrapper m-0  list-inline">
                        <li class="swiper-slide">
                            <div class="iq-card card-hover">
                                <div class="block-images position-relative w-100">
                                    <div class="img-box w-100">
                                        <a href="./movie-detail.html"
                                           class="position-relative top-0 bottom-0 start-0 end-0">
                                            <img src="{% static 'assets/images/media/rabbit-portrait.webp' %}"
                                                 alt="movie-card"
                                                 class="img-fluid object-cover w-100 d-block border-0 rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-description with-transition">
                                        <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                            <li class="fw-semi-bold">
                                                <a href="./view-all-movie.html" tabindex="0" class="font-size-14 ">
                                                    Action </a>
                                            </li>
                                        </ul>
                                        <div class="cart-content">
                                            <div class="content-left">
                                                <h5 class="iq-title text-capitalize">
                                                    <a href="./movie-detail.html">Rabbit</a>
                                                </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <i class="ph ph-translate"></i>
                                                        <small class="font-size-12">English</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="./watchlist-detail.html"
                                               class="d-flex align-items-center justify-content-center flex-shrink-0 border-0 add-to-wishlist-btn btn btn-secondary"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Add to Watchlist">
                                                <i class="ph ph-plus font-size-18"></i>
                                            </a>
                                            <div class="iq-play-button iq-button">
                                                <a href="./movie-detail.html" class="btn btn-primary w-100">Play Now
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="position-absolute z-1 primium-product d-flex align-items-center justify-content-center"
                                         data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Premium"
                                         data-bs-original-title="Premium">
                                        <i class="ph-fill ph-crown "></i>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="iq-card card-hover">
                                <div class="block-images position-relative w-100">
                                    <div class="img-box w-100">
                                        <a href="./movie-detail.html"
                                           class="position-relative top-0 bottom-0 start-0 end-0">
                                            <img src="{% static 'assets/images/media/migration-portrait.webp' %}"
                                                 alt="movie-card"
                                                 class="img-fluid object-cover w-100 d-block border-0 rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-description with-transition">
                                        <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                            <li class="fw-semi-bold">
                                                <a href="./view-all-movie.html" tabindex="0" class="font-size-14 ">
                                                    Action </a>
                                            </li>
                                        </ul>
                                        <div class="cart-content">
                                            <div class="content-left">
                                                <h5 class="iq-title text-capitalize">
                                                    <a href="./movie-detail.html">Migration</a>
                                                </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <i class="ph ph-translate"></i>
                                                        <small class="font-size-12">English</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="./watchlist-detail.html"
                                               class="d-flex align-items-center justify-content-center flex-shrink-0 border-0 add-to-wishlist-btn btn btn-secondary"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Add to Watchlist">
                                                <i class="ph ph-plus font-size-18"></i>
                                            </a>
                                            <div class="iq-play-button iq-button">
                                                <a href="./movie-detail.html" class="btn btn-primary w-100">Play Now
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="iq-card card-hover">
                                <div class="block-images position-relative w-100">
                                    <div class="img-box w-100">
                                        <a href="./movie-detail.html"
                                           class="position-relative top-0 bottom-0 start-0 end-0">
                                            <img src="{% static 'assets/images/media/war-for-the-planet-portrait.webp' %}"
                                                 alt="movie-card"
                                                 class="img-fluid object-cover w-100 d-block border-0 rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-description with-transition">
                                        <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                            <li class="fw-semi-bold">
                                                <a href="./view-all-movie.html" tabindex="0" class="font-size-14 ">
                                                    Action </a>
                                            </li>
                                        </ul>
                                        <div class="cart-content">
                                            <div class="content-left">
                                                <h5 class="iq-title text-capitalize">
                                                    <a href="./movie-detail.html">War for the Planet</a>
                                                </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <i class="ph ph-translate"></i>
                                                        <small class="font-size-12">English</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="./watchlist-detail.html"
                                               class="d-flex align-items-center justify-content-center flex-shrink-0 border-0 add-to-wishlist-btn btn btn-secondary"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Add to Watchlist">
                                                <i class="ph ph-plus font-size-18"></i>
                                            </a>
                                            <div class="iq-play-button iq-button">
                                                <a href="./movie-detail.html" class="btn btn-primary w-100">Play Now
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="iq-card card-hover">
                                <div class="block-images position-relative w-100">
                                    <div class="img-box w-100">
                                        <a href="./movie-detail.html"
                                           class="position-relative top-0 bottom-0 start-0 end-0">
                                            <img src="{% static 'assets/images/media/the-hunter-portrait.webp' %}"
                                                 alt="movie-card"
                                                 class="img-fluid object-cover w-100 d-block border-0 rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-description with-transition">
                                        <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                            <li class="fw-semi-bold">
                                                <a href="./view-all-movie.html" tabindex="0" class="font-size-14 ">
                                                    Action </a>
                                            </li>
                                        </ul>
                                        <div class="cart-content">
                                            <div class="content-left">
                                                <h5 class="iq-title text-capitalize">
                                                    <a href="./movie-detail.html">The
                                                        Hunter</a>
                                                </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <i class="ph ph-translate"></i>
                                                        <small class="font-size-12">English</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="./watchlist-detail.html"
                                               class="d-flex align-items-center justify-content-center flex-shrink-0 border-0 add-to-wishlist-btn btn btn-secondary"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Add to Watchlist">
                                                <i class="ph ph-plus font-size-18"></i>
                                            </a>
                                            <div class="iq-play-button iq-button">
                                                <a href="./movie-detail.html" class="btn btn-primary w-100">Play Now
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="position-absolute z-1 primium-product d-flex align-items-center justify-content-center"
                                         data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Premium"
                                         data-bs-original-title="Premium">
                                        <i class="ph-fill ph-crown "></i>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="iq-card card-hover">
                                <div class="block-images position-relative w-100">
                                    <div class="img-box w-100">
                                        <a href="./movie-detail.html"
                                           class="position-relative top-0 bottom-0 start-0 end-0">
                                            <img src="{% static 'assets/images/media/chosfies-portrait.webp' %}"
                                                 alt="movie-card"
                                                 class="img-fluid object-cover w-100 d-block border-0 rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-description with-transition">
                                        <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                            <li class="fw-semi-bold">
                                                <a href="./view-all-movie.html" tabindex="0" class="font-size-14 ">
                                                    Action </a>
                                            </li>
                                        </ul>
                                        <div class="cart-content">
                                            <div class="content-left">
                                                <h5 class="iq-title text-capitalize">
                                                    <a href="./movie-detail.html">Chosfies</a>
                                                </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <i class="ph ph-translate"></i>
                                                        <small class="font-size-12">English</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="./watchlist-detail.html"
                                               class="d-flex align-items-center justify-content-center flex-shrink-0 border-0 add-to-wishlist-btn btn btn-secondary"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Add to Watchlist">
                                                <i class="ph ph-plus font-size-18"></i>
                                            </a>
                                            <div class="iq-play-button iq-button">
                                                <a href="./movie-detail.html" class="btn btn-primary w-100">Play Now
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="iq-card card-hover">
                                <div class="block-images position-relative w-100">
                                    <div class="img-box w-100">
                                        <a href="./movie-detail.html"
                                           class="position-relative top-0 bottom-0 start-0 end-0">
                                            <img src="{% static 'assets/images/media/venom-portrait.webp' %}"
                                                 alt="movie-card"
                                                 class="img-fluid object-cover w-100 d-block border-0 rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-description with-transition">
                                        <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                            <li class="fw-semi-bold">
                                                <a href="./view-all-movie.html" tabindex="0" class="font-size-14 ">
                                                    Action </a>
                                            </li>
                                        </ul>
                                        <div class="cart-content">
                                            <div class="content-left">
                                                <h5 class="iq-title text-capitalize">
                                                    <a href="./movie-detail.html">Venom</a>
                                                </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <i class="ph ph-translate"></i>
                                                        <small class="font-size-12">English</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="./watchlist-detail.html"
                                               class="d-flex align-items-center justify-content-center flex-shrink-0 border-0 add-to-wishlist-btn btn btn-secondary"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Add to Watchlist">
                                                <i class="ph ph-plus font-size-18"></i>
                                            </a>
                                            <div class="iq-play-button iq-button">
                                                <a href="./movie-detail.html" class="btn btn-primary w-100">Play Now
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="iq-card card-hover">
                                <div class="block-images position-relative w-100">
                                    <div class="img-box w-100">
                                        <a href="./movie-detail.html"
                                           class="position-relative top-0 bottom-0 start-0 end-0">
                                            <img src="{% static 'assets/images/media/dinoosaur-portrait.webp' %}"
                                                 alt="movie-card"
                                                 class="img-fluid object-cover w-100 d-block border-0 rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-description with-transition">
                                        <ul class="genres-list p-0 mb-2 d-flex align-items-center flex-wrap list-inline">
                                            <li class="fw-semi-bold">
                                                <a href="./view-all-movie.html" tabindex="0" class="font-size-14 ">
                                                    Action </a>
                                            </li>
                                        </ul>
                                        <div class="cart-content">
                                            <div class="content-left">
                                                <h5 class="iq-title text-capitalize">
                                                    <a href="./movie-detail.html">Dinoosaur</a>
                                                </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <i class="ph ph-translate"></i>
                                                        <small class="font-size-12">English</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="./watchlist-detail.html"
                                               class="d-flex align-items-center justify-content-center flex-shrink-0 border-0 add-to-wishlist-btn btn btn-secondary"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Add to Watchlist">
                                                <i class="ph ph-plus font-size-18"></i>
                                            </a>
                                            <div class="iq-play-button iq-button">
                                                <a href="./movie-detail.html" class="btn btn-primary w-100">Play Now
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="position-absolute z-1 primium-product d-flex align-items-center justify-content-center"
                                         data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Premium"
                                         data-bs-original-title="Premium">
                                        <i class="ph-fill ph-crown "></i>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block">
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
