{% load static %}
<div class="verticle-slider section-padding-bottom">
    <div class="slider">
        <div class="slider-flex position-relative">
            <div class="slider--col position-relative">
                <div class="vertical-slider-prev swiper-button"><i class="iconly-Arrow-Up-2 icli"></i></div>
                <div class="slider-thumbs" data-swiper="slider-thumbs">
                    <div class="swiper-container " data-swiper="slider-thumbs-inner">
                        <div class="swiper-wrapper top-ten-slider-nav">
                            <div class="swiper-slide swiper-bg">
                                <div class="block-images position-relative ">
                                    <div class="img-box slider--image">
                                        <img src="{% static 'assets/images/media/the-first-of-us.webp' %}"
                                             class="w-100 rounded-3" alt="img"
                                             loading="lazy">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">The First Of Us</h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="d-flex align-items-center gap-1 font-size-12">
                                                <i class="ph ph-clock "></i>
                                                <span class="text-body">2hr : 59m</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-bg">
                                <div class="block-images position-relative">
                                    <div class="img-box slider--image">
                                        <img src="{% static 'assets/images/media/gameofhero.webp' %}"
                                             class="w-100 rounded-3"
                                             alt="img"
                                             loading="lazy">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">Game of Heros</h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="d-flex align-items-center gap-1 font-size-12">
                                                <i class="ph ph-clock"></i>
                                                <span class="text-body"> 2hr : 30m</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-bg">
                                <div class="block-images position-relative ">
                                    <div class="img-box slider--image">
                                        <img src="{% static 'assets/images/media/venom.webp' %}" class="w-100 rounded-3"
                                             alt="img"
                                             loading="lazy">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">Venom</h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="d-flex align-items-center gap-1 font-size-12">
                                                <i class="ph ph-clock"></i>
                                                <span class="text-body">2hr : 3m</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-bg">
                                <div class="block-images position-relative">
                                    <div class="img-box slider--image">
                                        <img src="{% static 'assets/images/media/rabbit.webp' %}"
                                             class="w-100 rounded-3"
                                             alt="img"
                                             loading="lazy">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">Rabbit</h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="d-flex align-items-center gap-1 font-size-12">
                                                <i class="ph ph-clock"></i>
                                                <span class="text-body">2hr : 30m</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-bg">
                                <div class="block-images position-relative">
                                    <div class="img-box slider--image">
                                        <img src="{% static 'assets/images/media/krishna.webp' %}"
                                             class="w-100 rounded-3"
                                             alt="img"
                                             loading="lazy">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">Krishna</h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="d-flex align-items-center gap-1 font-size-12">
                                                <i class="ph ph-clock"></i>
                                                <span class="text-body">1hr : 22m</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-slider-next swiper-button"><i class="iconly-Arrow-Down-2 icli"></i></div>
            </div>
            <div class="slider-images" data-swiper="slider-images">
                <div class="swiper-container " data-swiper="slider-images-inner">
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide">
                            <div class="slider--image block-images"><img
                                    src="{% static 'assets/images/media/the-first-of-us.webp' %}"
                                    loading="lazy" alt="img"/></div>
                            <div class="description">
                                <div class="block-description">
                                    <ul
                                            class="ps-0 mb-2 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag justify-content-center justify-content-lg-start genres-list gap-1 gap-sm-0">
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Action</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html"
                                               class="text-decoration-none">Adventure </a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Crime</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Horror</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Mystery</a>
                                        </li>
                                    </ul>
                                    <h2 class="iq-title m-0 line-count-2"><a href="./tv-show-detail.html">The First
                                        Of
                                        Us</a></h2>
                                    <div
                                            class="d-flex align-items-center gap-3 py-2 justify-content-center justify-content-lg-start flex-wrap">
                                        <div class="slider-ratting d-flex align-items-center gap-1">
                                            <ul
                                                    class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <p class="mb-0">9 </p>
                                            <img class="imdb-img" alt="imdb-logo"
                                                 src="assets/images/pages/imdb-logo.svg">
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="ph ph-clock font-size-14"></i>
                                            <span class="text-body">2hr : 59m</span>
                                        </div>
                                    </div>
                                    <p class="mt-2 mb-3 line-count-3">The First of Us – In a post-apocalyptic world,
                                        a small
                                        group of survivors uncovers the origins of humanity’s downfall. As they
                                        journey through a
                                        dangerous, desolate landscape, they realize they may hold the key to
                                        rebuilding
                                        civilization—or ensuring its final extinction.</p>
                                    <a href="movie-detail.html"
                                       class="btn btn-primary text-capitalize position-relative rounded-3">
                               <span class="d-flex align-items-center gap-2">
                                   <span class="button-text">play now</span>
                                   <i class="ph-fill ph-play fs-6"></i>
                               </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider--image block-images"><img
                                    src="{% static 'assets/images/media/gameofhero.webp' %}"
                                    loading="lazy" alt="img"/></div>
                            <div class="description">
                                <div class="block-description">
                                    <ul
                                            class="ps-0 mb-2 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag justify-content-center justify-content-lg-start genres-list gap-1 gap-sm-0">
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Action</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html"
                                               class="text-decoration-none">Adventure </a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Crime</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Horror</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Mystery</a>
                                        </li>
                                    </ul>
                                    <h2 class="iq-title m-0 line-count-2"><a href="./tv-show-detail.html">Game of
                                        Heros</a>
                                    </h2>
                                    <div
                                            class="d-flex align-items-center gap-3 py-2 justify-content-center justify-content-lg-start flex-wrap">
                                        <div class="slider-ratting d-flex align-items-center gap-1">
                                            <ul
                                                    class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph ph-star" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <p class="mb-0">10 </p>
                                            <img class="imdb-img" alt="imdb-logo"
                                                 src="assets/images/pages/imdb-logo.svg">
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="ph ph-clock font-size-14"></i>
                                            <span class="text-body">2hr : 30m</span>
                                        </div>
                                    </div>
                                    <p class="mt-2 mb-3 line-count-3">Game of Heros is an action-packed fantasy epic
                                        where the
                                        fate of the world is decided in a battle of legendary warriors. When an
                                        ancient prophecy
                                        foretells an all-out war between the greatest heroes of all realms,
                                        champions from
                                        different eras and dimensions are summoned to fight for ultimate supremacy.
                                        Each warrior
                                        possesses unique abilities, weapons, and a past that drives them to
                                        victory—or doom.</p>
                                    <a href="movie-detail.html"
                                       class="btn btn-primary text-capitalize position-relative rounded-3">
                               <span class="d-flex align-items-center gap-2">
                                   <span class="button-text">play now</span>
                                   <i class="ph-fill ph-play fs-6"></i>
                               </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider--image block-images"><img
                                    src="{% static 'assets/images/media/venom.webp' %}"
                                    loading="lazy" alt="img"/></div>
                            <div class="description">
                                <div class="block-description">
                                    <ul
                                            class="ps-0 mb-2 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag justify-content-center justify-content-lg-start genres-list gap-1 gap-sm-0">
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Action</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Crime</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Horror</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Mystery</a>
                                        </li>
                                    </ul>
                                    <h2 class="iq-title m-0 line-count-2"><a href="./movie-detail.html">Venom</a>
                                    </h2>
                                    <div
                                            class="d-flex align-items-center gap-3 py-2 justify-content-center justify-content-lg-start flex-wrap">
                                        <div class="slider-ratting d-flex align-items-center gap-1">
                                            <ul
                                                    class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star-half" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <p class="mb-0">5</p>
                                            <img class="imdb-img" alt="imdb-logo"
                                                 src="assets/images/pages/imdb-logo.svg">
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="ph ph-clock font-size-14"></i>
                                            <span class="text-body">2hr : 3m</span>
                                        </div>
                                    </div>
                                    <p class="mt-2 mb-3 line-count-3">In a shadowy metropolis where danger lurks in
                                        every corner,
                                        an alien symbiote crash-lands on Earth, searching for the perfect host.
                                        Enter Eddie Thorn,
                                        an investigative journalist whose life takes a wild turn when he bonds with
                                        the mysterious
                                        entity known as Venom. As Eddie struggles to control the powerful, chaotic
                                        force within
                                        him, a new threat emerges: a rival symbiote with an insatiable thirst for
                                        destruction.</p>
                                    <a href="movie-detail.html"
                                       class="btn btn-primary text-capitalize position-relative rounded-3">
                               <span class="d-flex align-items-center gap-2">
                                   <span class="button-text">play now</span>
                                   <i class="ph-fill ph-play fs-6"></i>
                               </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider--image block-images"><img
                                    src="{% static 'assets/images/media/rabbit.webp' %}"
                                    loading="lazy" alt="img"/></div>
                            <div class="description">
                                <div class="block-description">
                                    <ul
                                            class="ps-0 mb-2 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag justify-content-center justify-content-lg-start genres-list gap-1 gap-sm-0">
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Action</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html"
                                               class="text-decoration-none">Adventure </a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Horror</a>
                                        </li>
                                    </ul>
                                    <h2 class="iq-title m-0 line-count-2"><a href="./tv-show-detail.html">Rabbit</a>
                                    </h2>
                                    <div
                                            class="d-flex align-items-center gap-3 py-2 justify-content-center justify-content-lg-start flex-wrap">
                                        <div class="slider-ratting d-flex align-items-center gap-1">
                                            <ul
                                                    class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star-half" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <p class="mb-0">8</p>
                                            <img class="imdb-img" alt="imdb-logo"
                                                 src="assets/images/pages/imdb-logo.svg">
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="ph ph-clock font-size-14"></i>
                                            <span class="text-body">2hr : 30m</span>
                                        </div>
                                    </div>
                                    <p class="mt-2 mb-3 line-count-3">The film builds tension through atmospheric
                                        cinematography,
                                        depicting haunting landscapes in Australia's Riverland region. Critics have
                                        praised Sarah
                                        Snook's performance but noted the film's reliance on familiar horror tropes,
                                        comparing it
                                        to The Babadook and Hereditary. Despite mixed reviews, Run Rabbit Run stands
                                        out for its
                                        exploration of motherhood, grief, and the psychological toll of buried
                                        memories.</p>
                                    <a href="movie-detail.html"
                                       class="btn btn-primary text-capitalize position-relative rounded-3">
                               <span class="d-flex align-items-center gap-2">
                                   <span class="button-text">play now</span>
                                   <i class="ph-fill ph-play fs-6"></i>
                               </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider--image block-images"><img
                                    src="{% static 'assets/images/media/krishna.webp' %}"
                                    loading="lazy" alt="img"/></div>
                            <div class="description">
                                <div class="block-description">
                                    <ul
                                            class="ps-0 mb-2 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag justify-content-center justify-content-lg-start genres-list gap-1 gap-sm-0">
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Action</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html"
                                               class="text-decoration-none">Adventure </a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Crime</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Horror</a>
                                        </li>
                                        <li class="text-capitalize font-size-14 letter-spacing-1">
                                            <a href="./view-all-movie.html" class="text-decoration-none">Mystery</a>
                                        </li>
                                    </ul>
                                    <h2 class="iq-title m-0 line-count-2"><a
                                            href="./tv-show-detail.html">Krishna</a></h2>
                                    <div
                                            class="d-flex align-items-center gap-3 py-2 justify-content-center justify-content-lg-start flex-wrap">
                                        <div class="slider-ratting d-flex align-items-center gap-1">
                                            <ul
                                                    class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph-fill ph-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="ph ph-star" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <p class="mb-0">8</p>
                                            <img class="imdb-img" alt="imdb-logo"
                                                 src="assets/images/pages/imdb-logo.svg">
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="ph ph-clock font-size-14"></i>
                                            <span class="text-body">1hr : 22m</span>
                                        </div>
                                    </div>
                                    <p class="mt-2 mb-3 line-count-3">In the vibrant land of Vrindavan, Krishna:
                                        Portrait unfolds
                                        as an intimate exploration of the life and legacy of Lord Krishna, one of
                                        history's most
                                        beloved divine figures. Through a series of rich, interwoven tales, the film
                                        captures
                                        Krishna's journey—from his mischievous childhood as a cowherd to his
                                        profound role as a
                                        spiritual guide and warrior.</p>
                                    <a href="movie-detail.html"
                                       class="btn btn-primary text-capitalize position-relative rounded-3">
                               <span class="d-flex align-items-center gap-2">
                                   <span class="button-text">play now</span>
                                   <i class="ph-fill ph-play fs-6"></i>
                               </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
