COMPOSE_PROJECT_NAME=automationapp_stack

# Django
DJANGO_HOST=automationapp.loc
#LETSENCRYPT_HOST=automationapp.loc => ONLY ON PROD
#LETSENCRYPT_EMAIL=info@automationapp.loc => ONLY ON PROD

# PhpMyAdmin
PMA_HOST_DOMAIN=automationappbaza.loc
#LETSENCRYPT_HOST_PMA=automationappbaza.loc => ONLY ON PROD

# MySQL
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=automationapp
MYSQL_USER=protectuser
MYSQL_PASSWORD=protectpass

# Postgresql
POSTGRES_DB=automationapp
POSTGRES_USER=automationapp
POSTGRES_PASSWORD=strongpassword

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=adminpassword
PGADMIN_HOST_DOMAIN=automationapppostgresql.loc

#LETSENCRYPT_HOST_PGADMIN=pgadmin.example.com => ONLY ON PROD