{% extends "core/layout.html" %}
{% load static %}
{% load number_format %}
{% block title %}All Videos{% endblock %}

{% block content %}
    <div class="blog-pagination section-padding">
        <h1 class="visually-hidden">All Videos</h1>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 gy-5">
                {% for video in page_obj.object_list %}
                    <div class="col-lg-3 col-sm-4">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <a href="{{ video.video_url }}">
                                    <img src="{{ video.thumbnail_large }}" alt="{{ video.main_title }}"
                                         class="img-fluid w-100 rounded-3">
                                </a>
                            </div>
                            <div class="iq-blog-detail">
                                <h4 class="mb-3 blog-heading">
                                    <a href="{{ video.video_url }}">
                                        {{ video.main_title }}
                                    </a>
                                </h4>
                                <p class="line-count-2">{{ video.main_description }}</p>
                                <div class="">
                                    <a href="{{ video.video_url }}"
                                       class="btn btn-link blog-readMore p-0 text-capitalize position-relative font-size-14">
                                        <span class="">Watch</span>
                                        <span><i class="ph ph-caret-right align-middle"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include "components/elements/pagination.html" %}
        </div>
    </div>
{% endblock %}
