{% extends "core/layout.html" %}
{% block content %}
{% load static %}
<div>

    <!-- Authorize Button -->
    <div class="mb-6 text-center">
        <a href="{% url 'tiktok.auth_redirect_to_tiktok' %}"
           class="inline-block tw w-full bg-blue-500 text-white font-semibold py-3 rounded-xl hover:bg-gray-800 transition">
            Connect New TikTok Account
        </a>
    </div>

    <!-- Accounts List -->
    <div>
        <h2 class="text-lg font-semibold mb-3 text-gray-800">
            Connected Accounts
        </h2>

        {% if tiktok_users %}
        <ul class="space-y-2">
            {% for account in tiktok_users %}
            <li class="bg-gray-50 border border-gray-200 rounded-lg px-4 py-3 flex justify-between items-center">
                        <span class="font-medium text-gray-700">
                            <a href="https://tiktok.com/@{{account.username}}">@{{ account.username }}</a>
                        </span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-gray-500 text-sm">
            No TikTok accounts connected yet.
        </p>
        {% endif %}
    </div>

</div>
{% endblock content %}
